:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --secondary-color: rgba(229, 148, 0, 0.9);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;

    --color1: steelblue;
    --color2: tan;
    --color3: teal;
    --color4: slateblue;
    --animate-speed: 1s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    z-index: -1;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

/* slides colors */
#slide-1 {
  background-color: var(--color1);
}
#slide-2 {
  background-color: var(--color2);
}
#slide-3 {
  background-color: var(--color3);
}
#slide-4 {
  background-color: var(--color4);
}

.slide {
  height: 100vh;
  width: 100vw;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}
.slide p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: rgb(26, 25, 25);
}
.btn {
  display: inline-block;
  background-color: aliceblue;
  color: #333;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark {
  background-color: rgb(53, 54, 54);
  color: rgb(236, 232, 232);
}

.btn-dark:hover {
  color: rgb(53, 54, 54);
  background-color: rgb(236, 232, 232);
}

#slide-1 h1 {
  transform: translate3d(0rem, -82rem, 0rem);
  animation: animate-header var(--animate-speed) forwards ease-in;
}
#slide-1 p {
  transform: translate3d(-200rem, 0rem, 0rem);
  animation: animate-paragraph var(--animate-speed) forwards ease-in
    var(--animate-speed);
}

@keyframes animate-header {
  to {
    transform: translate3d(0rem, 0rem, 0rem);
  }
}

@keyframes animate-paragraph {
  to {
    transform: translate3d(0rem, 0rem, 0rem);
  }
}
